html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
  background: black;
  margin: 0;
}
h1 {
  color: white;
  margin: 0;
  padding: 15px;
}

#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}
#btn-scan-qr {
  cursor: pointer;
   font-size: 2em;
}

#sel-camara {
  cursor: pointer;
  font-size: 2em;
}

#confirm {
  cursor: pointer;
  font-size: 2em;
}
#sourceSelect {
   font-size: 1.2em;
}

div [name=divdata] {
  font-size: 1.2em;
  text-align: left;
  margin: 10px auto;
  padding: 10px;
  max-width: 700px;
  background-color: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}
